# 4: Perform
In this assignment, you will demonstrate your mastery of aggregating and summarizing data with Pandas `groupby` and `pivot_table` and merging/joining datasets using Pandas `concat` and `merge`.

## Part 1: COVID-19 Dataset
In this part we work with the `covid_19_data.csv` dataset. It contains records of the cumulative numbers of confirmed cases of the disease (the `Confirmed` column), deaths from the disease (the `Deaths` column), and recovered individuals (the `Recovered` column). **Remember** that *cumulative* means total up to this date, i.e., a given observation is the previous observation plus any additional since then.

Each such value corresponds to a particular `Province/State` within a given `Country/Region`. Some rows do not include information at the `Province/State` level, in which case the data correspond to the `Country/Region` as a whole. The date of the record is given in the `ObservationDate` column. Below we import the dataset and preview the first few rows.

In [1]:
# Run but do not modify this code
import pandas as pd
covid = pd.read_csv("covid-19.csv", parse_dates=["ObservationDate"])
covid.head()

  ObservationDate Province/State  Country/Region  Confirmed  Deaths  Recovered
0      2020-01-22          Anhui  Mainland China        1.0     0.0        0.0
1      2020-01-22        Beijing  Mainland China       14.0     0.0        0.0
2      2020-01-22      Chongqing  Mainland China        6.0     0.0        0.0
3      2020-01-22         Fujian  Mainland China        1.0     0.0        0.0
4      2020-01-22          Gansu  Mainland China        0.0     0.0        0.0

In [2]:
type(covid["ObservationDate"][0])

pandas._libs.tslibs.timestamps.Timestamp

### Question 1 (12 points, 4 each)

1. Which `Country/Region` has reported the most total observations (rows), and how many did they report? Save the name of the Contry/Region in `q1_1_1` as `str`, and save the number they report in `q1_1_2` as `int` or `np.int64`.
2. How many `Country/Region`s have reported at least 100 `Deaths` due to COVID-19? Save your result in `q1_2`.
3. Which five `Province/State`s of the `Country/Region` of `Mainland China` have reported the most `Deaths` to date, and how many `Deaths` have they reported? Put your answer in `q1_3` such that it is of type `Series` where the index is the `Province/State` and the value is the number of `Deaths` as `float` or `np.float64`.

In [3]:
# Put your code to answer the question here
# Feel free to add additional cells
tmp = covid.groupby("Country/Region").count().sort_values(by=["Confirmed"], ascending=False).iloc[0]
q1_1_1 = str(tmp.name)
q1_1_2 = int(tmp["Confirmed"])
tmp = covid.groupby("Country/Region").sum()["Deaths"]
q1_2 = len(tmp[tmp>100])

tmp = covid.where(covid["Country/Region"]=="Mainland China").groupby("Province/State").sum()["Deaths"]
q1_3 = tmp.sort_values(ascending=False)[:5]

print(q1_1_1, q1_1_2, q1_2, q1_3)

Russia 19461 178 Province/State
Hubei           1446052.0
Henan              7500.0
Heilongjiang       4484.0
Beijing            2967.0
Guangdong          2681.0
Name: Deaths, dtype: float64

### Question 2 (8 points, 4 each)

1. Report the first five `Province/State`s within the `Country/Region` of `US` to record a `Confirmed` case along with the dates on which they recorded their first case(s). Put your answer in `q2_1` such that it is of type `Series` where the index is the `Province/State` and the value is the dates on which they recorded their first case(s) as `pandas._libs.tslibs.timestamps.Timestamp`.

2. All of the data for the `Country/Region` of `US` is recorded at the `Province/State` level. Create a Pandas Series called `q2_2` where the primary index has `ObservationDate`s and the values are the total `Confirmed` cases added up accross all of the `Province/State`s in the `Country/Region` of `US`. For example, the first several rows of the Series should look like:
```
2020-01-22           1.0
2020-01-23           1.0
2020-01-24           2.0
2020-01-25           2.0
2020-01-26           5.0
```
When you are finished, print `q2_2.head()` and then run the following code cell to visualize the spread of the virus in the United States as a line plot.

In [4]:
# Put your code to answer the question here
# Feel free to add additional cells
...
tmp = covid[covid["Country/Region"]=="US"].sort_values(by="ObservationDate")[:5]
q2_1 = tmp["ObservationDate"]
q2_1.index = tmp["Province/State"]

tmp = covid[covid["Country/Region"]=="US"].groupby("ObservationDate").sum()["Confirmed"]
q2_2 = tmp
print(q2_1.head(), "\n\n", q2_2.head())

Province/State
Washington   2020-01-22
Washington   2020-01-23
Washington   2020-01-24
Chicago      2020-01-24
Washington   2020-01-25
Name: ObservationDate, dtype: datetime64[ns]

 ObservationDate
2020-01-22    1.0
2020-01-23    1.0
2020-01-24    2.0
2020-01-25    2.0
2020-01-26    5.0
Name: Confirmed, dtype: float64

In [5]:
# Run but do not modify this code
# You should compute `q2_2` above for Q2.2
q2_2.plot()

<!-- BEGIN QUESTION -->

<!--
BEGIN QUESTION
name: q2_2_manual
manual: true
points: 2
-->

<!-- END QUESTION -->



## Part 2: Movie Ratings
In this part we return to the movie review dataset that contains information about various users who have rated several different movies. To start, use `first_hundred.csv` contains all data for the first 100 `user_id`s (`1` through `100`) with all information merged into one table. Later, we will consider combining information from additional files with data on the subsequent `user_id`s. Below we import `first_hundred.csv` into the DataFrame `df_fh` and preview the first few rows.

In [6]:
# Run but do not modify this code
import pandas as pd
import numpy as np
df_fh = pd.read_csv("first_hundred.csv")
df_fh.head()

   user_id  age sex  occupation  movie_id  rating                 movie_title
0        1   24   M  technician        61       4  Three Colors: White (1994)
1       13   47   M    educator        61       4  Three Colors: White (1994)
2       18   35   F       other        61       4  Three Colors: White (1994)
3       58   27   M  programmer        61       5  Three Colors: White (1994)
4       59   49   M    educator        61       4  Three Colors: White (1994)

### Question 3 (8 points, 4 each)
Use Pandas `pivot_table`s to answer the following about the data in `first_hundred.csv`.

1. For each of the five possible `rating` values (1 through 5) report how many ratings of that value were recorded for `sex=='M'` and for `sex=='F'`. That is, how many total ratings of `1` were given by women, how many total ratings of `2` were given by women, etc., and the same for men. Save your result in pivot table `q3_1`, the columns are `sex` and the rows are `rating`.

2. Compute the `decade` of a user to be their `age // 10` (where `//` stands for integer division in Python so that someone with `age` between 0 and 9 would have `decade` 0, between 10 and 19 would have `decade` 1, and so on). Create a pivot table that shows the total number of `rating`s in the dataset for each combination of `decade` and `sex`. That is, your pivot table should show how many total `rating`s were made by users who are `decade==0` and `sex=='F'`, `decade==1` and `sex=='F'`, etc., and the same for `sex=='M'` for each of the five possible `rating` values (1 through 5). Use the `fill_value=0` optional parameter to the Pandas `pivot_table` method so that combinations for which there are no ratings will be printed as 0.  Display your resulting pivot table. Put your result in pivot table `q3_2`, the columns are `sex` and the rows are `decade`.

In [7]:
# Put your code to answer the question here
# Feel free to add additional cells
q3_1 =pd.pivot_table(df_fh, values=["age"], index=['rating'], columns=['sex'], aggfunc="count")
q3_1.columns = q3_1.columns.droplevel()

df_fh["decade"] = df_fh["age"]//10
q3_2 =pd.pivot_table(df_fh, values=["rating"], index=['decade'], columns=['sex'], aggfunc="count", fill_value=0)

print(q3_1, "\n\n", q3_2)

sex       F     M
rating
1       200   511
2       263   870
3       663  2053
4       835  2994
5       640  1990

        rating
sex         F     M
decade
0           0    43
1          76   170
2        1057  2715
3         888  1791
4         438  2025
5         142  1374
6           0   300

### Question 4 (12 points, 4 each)
`first_hundred.csv` only contains ratings from the first 100 `user_id`s containing about 11% of the total ratings. The remaining ratings are split across two additional files: `other_ratings_a.csv` and `other_ratings_b.csv`. In addition, information about additional users not in the first hundred is contained in the `other_users.csv` file, and information about all movies is contained in the `movies.csv` file. You will need to import and appropriately combine data from all of these datasets in order to answer the following questions. We encourage you to start by exploring the individual datasets.

1. What percentage of the ratings were made by women (i.e., `sex=='F'`)? Put your result in `q4_1` as a `float` or `np.float64`.
2. What are the `movie_title`s of the five movies that have received the most ratings? Put your answer in `q4_2` such that it is of type `Series` where the index is the `movie_title` and the value is the `rating` as `int` or `np.int64`.
3. Several movies have not received very many `rating`s; average ratings of such movies are not very informative. Instead, what are the `movie_title`s and average `rating`s of the movies that have received *at least 10* `rating`s? Show the five movies with the highest average `rating`. Put your answer in `q4_3` such that it is of type `Series` where the index is the `movie_title` and the value is the average rating as `float` or `np.float64`.

In [8]:
users = pd.read_csv("other_users.csv")
ratings_a = pd.read_csv("other_ratings_a.csv")
ratings_b = pd.read_csv("other_ratings_b.csv")
movies = pd.read_csv("movies.csv")

ratings_a = pd.merge(ratings_a, users, how="left", on="user_id")
ratings_a = pd.merge(ratings_a, movies, how="left", on="movie_id")
ratings_b = pd.merge(ratings_b, users, how="left", on="user_id")
ratings_b = pd.merge(ratings_b, movies, how="left", on="movie_id")
ratings = pd.concat([df_fh, ratings_a, ratings_b])
ratings

,user_id,age,sex,occupation,movie_id,rating,movie_title,decade
0,1,24,M,technician,61,4,Three Colors: White (1994),2.0
1,13,47,M,educator,61,4,Three Colors: White (1994),4.0
2,18,35,F,other,61,4,Three Colors: White (1994),3.0
3,58,27,M,programmer,61,5,Three Colors: White (1994),2.0
4,59,49,M,educator,61,4,Three Colors: White (1994),4.0
...,...,...,...,...,...,...,...,...
38976,913,27,M,student,209,2,This Is Spinal Tap (1984),NaN
38977,378,35,M,student,78,3,Free Willy (1993),NaN
38978,880,13,M,student,476,3,"First Wives Club, The (1996)",NaN
38979,716,36,F,administrator,204,5,Back to the Future (1985),NaN
38980,276,21,M,student,1090,1,Sliver (1993),NaN

In [9]:
# Put your code to answer the question here
# Feel free to add additional cells
tmp = ratings.groupby("sex").count()
q4_1 = float(tmp.loc["F"][0]/tmp.loc["M"][0])
q4_2 = ratings.groupby("movie_title").count()["rating"].sort_values(ascending=False)[:5]
tmp = ratings.groupby("movie_title").mean()["rating"]
tmp = tmp[ratings.groupby("movie_title").count()["rating"] > 10]
q4_3 = tmp.sort_values(ascending=False)[:5]

print(q4_1, "\n\n", q4_2, "\n\n", q4_3)

0.3466199838405602

 movie_title
Star Wars (1977)             583
Contact (1997)               509
Fargo (1996)                 508
Return of the Jedi (1983)    507
Liar Liar (1997)             485
Name: rating, dtype: int64

 movie_title
Close Shave, A (1995)                                     4.491071
Schindler's List (1993)                                   4.466443
Wrong Trousers, The (1993)                                4.466102
Casablanca (1942)                                         4.456790
Wallace & Gromit: The Best of Aardman Animation (1996)    4.447761
Name: rating, dtype: float64

In [13]:
tmp = ratings.groupby("sex").count()

In [14]:
float(tmp.loc["F"][0]/tmp.loc["M"][0])

0.3466199838405602