# 3A: Practice

In this exercise, you will practice wrangling data through different formats, with missing data, and working with text.

## Part 1: Text wrangling and regular expressions

### Question 1
Below we import the `text.txt` file as a string called `text` and preview the first 1,000 characters. Note that the text has no capitalization at the beginning of sentences.

In [27]:
# Run but do not modify this code
with open("text.txt") as f:
    text = f.read()

print(text[:1000])

it was the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of light, it was the season of darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing before us, we were all going direct to heaven, we were all going direct the other way- in short, the period was so far like the present period, that some of its noisiest authorities insisted on its being received, for good or for evil, in the superlative degree of comparison only. there were a king with a large jaw and a queen with a plain face, on the throne of england; there were a king with a large jaw and a queen with a fair face, on the throne of france. in both countries it was clearer than crystal to the lords of the state preserves of loaves and fishes, that things in general were settled for ever. it was the year of our lord one thousand seven hundred

Capitalize the first letter of each sentence (e.g., "it was the best..." should become "It was the best..."). To do so, split the sentences (you may assume sentences are ended with the a period `.` followed by a blank space), capitalize the first letter of each sentence, and then join the results.

Put your result in the variable `q1`.

<!--
BEGIN QUESTION
name: q1
manual: false
points:
    - 1
    - 1
-->

In [28]:
# Put your code to answer the question here
# Please store your answer as the givin variable

sentences = text.split(". ")

q1 = ". ".join([sen.capitalize() for sen in sentences])

### Question 2
Below we import the `corrupted_text.txt` file, a messed up version of `text.txt`, and print the first 1,000 characters.

In [23]:
# Run but do not modify this code
with open("corrupted_text.txt") as f:
    ctext = f.read()

print(ctext[:1000])

it was the best of times$ it was the worst of times$####                           it was the age of wisdom$ it was the age of foolishness$ it was the epoch of belief$ it was the epoch of incredulity$ it was the season of light$ it was the season of darkness$ it was the spring of hope$ it was the winter of despair$####                  we had everything before us$####          we had nothing before us$ we were all going direct to heaven$ we were all going direct the other way- in short$ the period was so far like the present period$ that some of its noisiest authorities insisted on its being received$ for good or for evil$ in the superlative degree of comparison only$\n\n there were a king with a large jaw and a queen with a plain face$ on the throne of england; there were a king with a large jaw and a queen with a fair face$ on the throne of france$\n\n in both countries it was clearer than crystal to the lords of the state preserves of loaves and fishes$ that things in general were s

Fix the following problems to recover the original text that appeared in `text.txt`.

1. Every comma `,` has been replaced by `$`. Sometimes, but not always, this is followed by `####`. When it is followed by `####`, there are different numbers of blank spaces after the `####`.
2. Every period `.` has been replaced by `$\n\n`.

When you are finished, if you print the first 1,000 characters, you should see the same text as in `text.txt` above (except without the capitalization you worked on in the previous problem).

Put your result in the variable `q2`.

Note: It may be helpful to recall that `\` is an escape character for Python strings, so for example, while calling `print("\n")` will simply print a blank newline character, calling `print("\\n")` will "escape" the usual meaning of the second backslash and print `\n`.

<!--
BEGIN QUESTION
name: q2
manual: false
points:
    - 0.4
    - 0.4
    - 0.4
    - 0.4
    - 0.4
-->

In [24]:
# Put your code to answer the question here
# Please store your answer as the givin variable

q2 = ctext.replace("$\\n\\n", ".")

q2 = q2.replace("$", ",")

sentences = q2.split("####")

q2 = " ".join([sen.lstrip() for sen in sentences])

### Question 3
Below, we again import the `text.txt` file as a new string variable `ftext` (for "fresh" text if that helps).

In [252]:
# Run but do not modify this code
import re # Regular expression library
with open("text.txt") as f:
    ftext = f.read()

Write regular expressions and use the Python `re` module [documentation](https://docs.python.org/3/library/re.html) to answer the following questions about the file. You may assume that all characters are lowercase. You can print your answers directly from code (as long as they are clearly labeled) or you can write them in the markdown cell below.

1. How many times do two vowels (a, e, i, o, and u) appear consecutively in `text`? When three vowels occur consecutively (such as in "queen") you only need to count once, (for example, in "queen" you do not need to worry about the overlap between "ue" and "ee", just count once). 
2. Find all of the hyphenated words in `text` (that is, the words with a hyphen character `-` in the middle and no spaces between the hyphen and the characters on either side). 
3. Find the first word that appears after each period character `.` in the text. Do not include the period itself or the space that follows it. They should all be lower case from the `ftext`.
4. Find the starting index of every word `she` or `he`. Do not include words that enclose these such as `the` or `fishes` (Hint: It appears only 3 times).

Put question 1's answer in the variable `q3_1`, question 2's answer in `q3_2`, and so on.

<!--
BEGIN QUESTION
name: q3
manual: false
points:
    - 2
    - 2
    - 2
    - 2
-->

In [269]:
# Put your code to answer the question here
# Please store the answer for each questions as following variables


q3_1 = len(re.findall("[aeiou]""[aeiou]", ftext))
q3_2 = re.findall("[A-Za-z]+-[A-Za-z]+", ftext)

def firstWordCleaner(x):
    return x.split(". ")[1]

q3_3 = [firstWordCleaner(word) for word in re.findall("\. [A-Za-z]+", ftext)]
q4_3 = ...

## Part 2: Cleaning up system logs CSV
In this part we work with a piece of messy tabular data in the form of a poorly formatted csv file containing data about programs running on computer systems.

### Question 4
Below, we import the dataset using the Pandas `read_csv` function that creates a dataframe. Run the code; it will preview the first five rows. There are several formatting issues with the default import.

In [166]:
# Run but do not modify this code
import pandas as pd
sys_df = pd.read_csv("monitor.csv")
sys_df.head()

   0  System Time: 23 second   System Mem: 3 Gb  414 Mb
0  1  System Time: 40 second   System Mem: 3 Gb  382 Mb
1  2  System Time: 43 second   System Mem: 2 Gb  271 Mb
2  3  System Time: 31 second   System Mem: 3 Gb  493 Mb
3  4  System Time: 37 second   System Mem: 3 Gb  411 Mb
4  5  System Time: 36 second   System Mem: 2 Gb  266 Mb

Address the following, either by changing the `read_csv` statement or by modifying the imported dataframe.

1. The rows are already numbered with an integer index, but that is being duplicated so that we see a primary index for the dataframe and separately a column containing integer indices. Fix this so that there is just a single integer index as the primary index of the dataframe (bolded).

2. There are commas at the end of every row causing the dataframe to add a blank extra column at the right. Get rid of this column.

3. The file did not have column labels, so currently the first row is being incorrectly interpreted as the bolded column labels. Fix the code so that the column labels (from left to right) are `System Time second`, `System Memory GB`, and `System Memory MB`.


When you are finished, `sys_df` should have the above issues correct. Assign the variable `q4` with the same value as `sys_df`.

<!--
BEGIN QUESTION
name: q4
manual: false
points:
    - 1
    - 1
    - 1
    - 1
    - 2
-->

In [167]:
# Put your code to answer the question here

sys_df = pd.read_csv("monitor.csv", usecols = [1,2,3], names = ["System Time second", "System Memory GB", "System Memory MB"])

#sys_df.drop(columns=[sys_df.columns[0], sys_df.columns[-1]],inplace=True)


# Do not change this cell, it needs to run for the autograder to test properly
q4 = sys_df

### Question 5
The `sys_df` dataframe from question 3 should now be a little easier to read and use, but there are some strange things we would like to fix about the formatting of the data. When you are finished, `sys_df` assign the variable `q5_1` with the same value as `sys_df`.

1. The three features or columns all contain numeric data (seconds, GB, and MB) but are currently formatted as Strings with redundant information also contained in the column names. Fix the dataframe so that each value is just an integer. Note that the rows at index `400` and on have System Time recorded in minutes instead of seconds, be sure to convert these to seconds by multiplying by 60.

2. Currently the System Memory is split accross two columns, one for the GB and one for the MB. For example, the total memory of the first program is 3 GB and 414 MB. Instead, represent the full system memory in the `System Memory MB` column, and get rid of the `System Memory GB` column. To do so, you need to convert the values in the GB column to MB (1 GB is 1000 MB) and add that to the MB column, then use the [`drop` method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) to remove the GB column.

3. Now that you have dealt with the above, it should be easy to provide some basic statistics about the data. Report the mean time in seconds in the variable `q5_2` and mean memory in MB of the programs in the variable `q5_3`.

<!--
BEGIN QUESTION
name: q5
manual: false
points:
    - 1
    - 1
    - 1
    - 1
    - 0.5
    - 0.5
    - 0.5
    - 0.5
-->

In [168]:
# CLEANS THE TIME COLUMN
def cleanSysTime(x):
    temp = x.partition("Time: ")[2]

    if "second" in temp:
        return int(temp.split(" ")[0])

    else:
        return int(temp.split(" ")[0]) * 60

sys_df["System Time second"] = sys_df["System Time second"].apply(cleanSysTime)

In [169]:
# CLEANS THE MEM_GB COLUMN
def cleanMemGB(x):
    return int(x.partition("Mem:")[2].partition("Gb")[0])

sys_df["System Memory GB"] = sys_df["System Memory GB"].apply(cleanMemGB)

In [170]:
# CLEANS THE MEM_MB COLUMN
def cleanMemMB(x):
    return int(x.split(" ")[0])

sys_df["System Memory MB"] = sys_df["System Memory MB"].apply(cleanMemMB)

In [171]:
# COMBINES THE MEMORY INTO THE MB COLUMN, AND DROPS THE GB COLUMN
sys_df["System Memory MB"] = sys_df["System Memory GB"] * 1000 + sys_df["System Memory MB"]

sys_df = sys_df.drop(columns=["System Memory GB"])

In [177]:
# Put your code to answer the question here

q5_1 = sys_df # q5_1 = sys_df, after the manipulation
q5_2 = sys_df.mean()["System Time second"] # the mean time in seconds
q5_3 = sys_df.mean()["System Memory MB"] # the mean memory in GB



# Do not change this cell, it needs to run for the autograder to test properly
q5_1 = sys_df

## Part 3: Wrangling FDA JSON Dataset 
In this part we work with a messy JSON dataset containing information about several drugs labels.

### Question 6
Below we import the `FDADrugLabel.json` file into the `labels` variable.

The resulting Python object is somewhat messy; we encourage you to explore the data before answering the questions. For example, rather than just printing out `labels` check it's type, print only one element, and remember there are different [dictionary functions](https://docs.python.org/3/library/stdtypes.html#typesmapping) you could use. Feel free to add your own cells as you explore.

In [178]:
# Run but do not modify this code
import json
with open("FDADrugLabel.json") as f:
    labels = json.load(f)

Answer the following questions. Put question 1's answer in the variable `q6_1`, question 2's answer in `q6_2`, and so on.

1. How many drugs are represented in the file?
2. What is the largest number of key/value (or name/value) pairs for any drug in the file?
3. The `effective_time` is recorded for each drug as a date in the format `yyyymmdd`, for example, June 1, 1992 would be recorded as `19920601`. What is the earliest recorded date?

<!--
BEGIN QUESTION
name: q6
manual: false
points:
    - 1
    - 1
    - 1
    - 1
    - 1
    - 1
-->

In [214]:
# Put your code to answer the question here

q6_1 = len(labels) # number of drugs
q6_2 = len(max(labels, key=lambda x:len(x.keys())).keys()) # largest number of pairs
q6_3 = min(labels, key=lambda x:x['effective_time'])["effective_time"] # earliest recorded date

### Question 7

Below we use the Pandas `read_json` function to import the `FDADrugLabel.json` file into a Pandas dataframe `label_df`.

In [215]:
# Run but do not modify this code
import pandas as pd
label_df = pd.read_json("FDADrugLabel.json")
label_df.head()

,package_label_principal_display_panel,active_ingredient,warnings,inactive_ingredient,drug_interactions,effective_time,openfda,keep_out_of_reach_of_children,spl_product_data_elements,set_id,...,ask_doctor,do_not_use,recent_major_changes,boxed_warning,indications_and_usage_table,precautions,labor_and_delivery,general_precautions,dosage_and_administration_table,ask_doctor_or_pharmacist
0,[label],titanium dioxide,[1. Do not use in the following cases(Eczema a...,"butylene glycol, water, etc",,20160321,{'manufacturer_name': 'Nature and Health Beaut...,[keep out of reach of the children],"[Nature and Health Beauty (Moisturizing Cream,...",2ea9b21c-18e6-0a8a-e054-00144ff8d46c,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[BrightSpark Oral Spray],HPUS Active Ingredients Each dose contains equ...,"[Warnings If symptoms persist or worsen, consu...","Citric acid, potassium sorbate, purified water.",NaN,20160323,"{'manufacturer_name': 'Silver Star Brands', 'u...",[Keep this and all medication out of reach of ...,"[BrightSpark Arg nit, Arsenicum iod, Hyoscyamu...",2eb93d7c-330f-4b93-e054-00144ff88e88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,[PRINCIPAL DISPLAY PANEL - 106 g Packet Carton...,Active ingredient Colloidal oatmeal 43%,[Warnings For external use only. When using th...,"Inactive ingredients mineral oil, calcium sili...",NaN,20160315,{'manufacturer_name': 'Johnson & Johnson Consu...,"[Keep out of reach of children. If swallowed, ...",[Aveeno Baby Eczema Therapy Soothing Bath Trea...,7f689b72-ccfb-4ae0-9747-1490593998ca,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,[PACKAGE LABEL-PRINCIPAL DISPLAY PANEL NDC 631...,NaN,NaN,NaN,[7 DRUG INTERACTIONS In vitro data indicate th...,20160301,"{'manufacturer_name': 'Proficient Rx LP', 'uni...",NaN,[levocetirizine dihydrochloride levocetirizine...,b84ccb27-9c52-43b9-9a46-8f52a571045e,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[PACKAGE LABEL DISPLAY: ENERGIQUE SINCE 1987 H...,"ACTIVE INGREDIENTS: Angelica Archangelica 3X, ...","[WARNINGS: If pregnant or breastfeeding, ask a...","INACTIVE INGREDIENTS: Demineralized water, 20%...",NaN,20160322,"{'manufacturer_name': 'Energique, Inc.', 'unii...",[KEEP OUT OF REACH OF CHILDREN: Keep out of re...,"[Ovapar Angelica Archangelica, Caulophyllum Th...",13ecc450-0ae3-46d3-8cc7-915c74c3361a,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Use the dataframe to answer the following questions.

1. What happens if you call `label_df.dropna()` (with no optional parameters) to remove the null values? Why? 

2. Which of `label_df`'s columns contains data for every row? You might answer this using the `label_df.dropna()` method to keep all of the rows but remove any of the columns that have any missing data, but do not modify the `label_df` dataframe itself. 

3. Filter the dataframe to the rows that are missing data for `active_ingredient`, then show those rows (if `my_view` is a dataframe view you have computed by filtering the data, you can simply put `my_view` as the last line of a cell and run it to get a tabular rendering of the rows in Jupyter). You may find the Pandas `isnull` method useful, you can see it's [documentation here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.isnull.html).

Put question 2's answer in the variable q7_2 AND question 3's answer in q7_3.

<!-- BEGIN QUESTION -->

<!--
BEGIN QUESTION
name: q7_manual
manual: true
-->

##### Put your answer to question 7.1 here:

q7_1)
The method would check if there are any Na values in each row, and if there are, it would drop that row. The result of this for label_df is to drop every single row, since each row contains at least one Na.

<!-- END QUESTION -->

<!--
BEGIN QUESTION
name: q7
manual: false
points:
    - 1
    - 1
    - 1
    - 1
-->

In [ ]:
# Put your code to answer the question here
# feel free to add more cells of code is needed

nullCounter = label_df.isnull().sum()
q7_2 = nullCounter[nullCounter==0].keys().tolist() # columns cotains data for every row. Please store the answer as a list of column names
q7_3 = label_df[label_df["active_ingredient"].isnull()]